body {
    background-color: #8c9ca7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 400px;
    background: #7b8f92;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error-message {
    color: rgb(145, 68, 68);
    font-size: 0.875em;
    margin-top: 5px;
}
